* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.responsivelogo {
  display: none;
}
.header {
  display: flex;
  width: 100%;
  height: 80px;
  top: 0;
  border-bottom: 1px solid rgb(99, 98, 98);
}
#logo {
  margin-left: 70px;
  margin-top: 20px;
  width: 50px;
  height: 40px;
}
.header li {
  display: inline;
  margin: 20px;
}
.header ul {
  margin-top: 25px;
}

.header a {
  text-decoration: none;
  color: #56768a;
  font-size: 20px;
  font-weight: 400;
}
a:hover {
  color: #0068b6;
}
.booknowbutoni {
  width: 100px;
  height: 35px;
  background-color: #0068b6;
  border-radius: 25px;
  border: 0px;
  color: white;
  outline: none;
  position: absolute;
  right: 50px;
}

.loginnav {
  color: #0068b6;
}
.logindiv {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
}
.logincontent {
  width: 450px;
  height: 350px;
  margin: 0 auto;
  text-align: center;
}
.logincontent h1 {
  font-size: 50px;
  font-weight: 600;
  margin-top: 30px;
  color: #56768a;
}
.logincontent input {
  border: 0px;
  border-bottom: 2px solid #56768a;
  width: 450px;
  height: 30px;
  margin-top: 45px;
  outline: none;
  font-size: 20px;
}
.email {
  font-size: 100px;
}
.passwordforgotten {
  margin-top: 10px;
  color: #3d514d;
}
.login_form button {
  margin-top: 30px;
  width: 300px;
  height: 50px;
  background-color: #56768a;
  border-radius: 35px;
  border: 0px;
  color: white;
  font-size: 18px;
  outline: none;
}
button:hover {
  background-color: #00589b;
}
.signup {
  margin-top: 10px;
  color: #3d514d;
}
.logincontent a {
  text-decoration: none;
}
.login_form #email_error,
.login_form #pass_error {
  display: flex;
  opacity: 80%;
  font-size: 12px;
  color: #c62828;
  opacity: 0;
}
.burger {
  margin-top: 27px;
  display: none;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
}

@media only screen and (max-device-width: 414px) {
  body {
    width: 100vw;
  }
  .nav-Links a {
    color: white;
  }
  .header {
    width: 100vw;
  }
  .booknowbutoni {
    background-color: white;
    width: 50vw;
    right: 25vw;
    color: #56768a;
    font-weight: 900;
    height: 50px;
    font-size: 15px;
  }
  #logo {
    margin-left: 10px;
  }
  .logincontent h1 {
    position: relative;
    left: 0px;
    width: 200px;
  }
  .logincontent {
    margin-top: 20vh;
  }
  .logincontent input {
    width: 350px;
  }
  .logindiv {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
  }
  .login_form,
  #email_error,
  .login_form,
  #pass_error {
    margin-left: 8px;
  }
  .burger {
    display: block;
  }
  .header {
    width: 100vw;
    justify-content: space-between;
    height: 10vh;
    background-color: #56768a;
    position: fixed;
    z-index: 100;
  }

  .nav-Links {
    position: absolute;
    right: 0px;
    height: 90vh;
    top: 6.8vh;
    background-color: #56768a;
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: space-evenly;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-active {
    transform: translateX(0%);
  }
  #logo {
    display: none;
  }
  .responsivelogo {
    display: block;
    width: 50px;
    height: 40px;
    margin-top: 15px;
    margin-left: 10px;
  }
  @keyframes navLinksFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}
